/* Mi código CSS */

body {
	padding-top: 54px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', sans-serif;
}

/*****************************************************************

    HEADER

/*****************************************************************/

#header {
	border-bottom: 4px solid #FF8F00;
}

#header-logo {
	width: auto;
	height: 20px;
}

/*****************************************************************

    HOME

/*****************************************************************/

#home-carousel {
	border-bottom: 4px solid #FF8F00;
}

#home-carousel .fill {
	height: 600px;
	background-size: cover;
	background-position: center center;
}

#home h1 span {
	font-weight: 300;
}

@media (max-width: 767px) {

	/* Este código CSS sólo se ejecuta para pantallas de un ancho hasta 767px */

	#home-carousel .fill {
		height: 250px;
	}
	#home h1 {
		font-size: 26px;
	}

}

/*****************************************************************

    ABOUT US

/*****************************************************************/

#about-us {
	padding: 30px 0;
}

#about-us h1 {
	margin-top: 0;
}

#about-us h2 span {
	font-weight: 300;
}

#about-us #company-photo {
	border: 1px solid #DDD;
	padding: 5px;
}


/*****************************************************************

    SALES

/*****************************************************************/

#sales {
	padding: 40px 0;
}

#sales h1 {
	margin: 0;
}

#sales hr {
	margin: 15px 0 30px 0;
}

#sales #rate {
	margin: 10px 0 0 0;
}
#sales #rate span {
	font-weight: bold;
}

#sales #filter {
	background-color: #F6F6F6;
	border: 1px solid #EEE;
	padding: 15px 10px;
	margin: 0 0 20px 0;
}

#sales #filter h4 {
	border-bottom: 1px solid #DDD;
	padding-bottom: 6px;
	margin: 0 0 15px 0;
}

#sales #filter .btn {
	background-color: #FF8F00;
	border-color: #f18700;
}
#sales #filter .btn:hover {
	background-color: #f18700;
}

#sales #btn-currency {
	margin-bottom: 15px;
}

#sales .car {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #DDD;
	padding-bottom: 15px;
}

#sales .car h3 {
	margin: 0 0 15px;
	display: inline-block;
}

#sales .car h3 span {
	color: #9E9E9E;
	font-weight: normal;
}

#sales .car-info {
	font-size: 14px;
	display: inline-block;
	float: right;
}

#sales .car .car-info .rating {
	color: #FFC107;
	display: inline-block;
}

#sales .car img {
	max-width: 100%;
	border: 1px solid #DDD;
	padding: 5px;
}

#sales .car .col-img span {
	position: absolute;
	top: 15px;
    left: 28px;
	background-color: #FF8F00;
}

#sales .car-footer {
}


@media (max-width: 767px) {
	#sales hr {
		display: none;
	}
	#sales #filter {
		margin-top: 10px;
	}
	#sales .car img {
		margin-bottom: 15px;
	}
}

@media (max-width: 400px) {
	#sales .car {
		font-size: 13px;
	}
	#sales .car h3 {
		font-size: 16px;
		margin-bottom: 5px;
	}
	#sales .car-info {
		font-size: 11px;
		float: none;
		margin-bottom: 15px;
		display: block;
	}
	#sales .car-footer .btn {
		font-size: 11px;
	}
}

/*****************************************************************

    FOOTER

/*****************************************************************/

#footer {
	border-top: 4px solid #FF8F00;
	background-color: #101010;
	margin-top: 40px;
	color: #EEEEEE;
	padding: 40px 0 40px 0;
	font-size: 16px;
}

#footer-logo {
	width: auto;
	height: 20px;
	margin-bottom: 15px;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer ul li {
	list-style: none;
	margin-bottom: 6px;
}

#footer ul li a,
#footer ul li a:visited {
	color: #EEEEEE;
}
